<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <style>

      .code {
      display: none;
      }

      .welcome {
      padding-top: 0.5em;
      }

      .close {
      position: absolute;;
      right: 50px;
      top: 50px;
      border: 3px solid black;
      }
      
      .sceneActions {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      }

      .models {
      padding-bottom: 0.5em;
      }

      .coordinates {
      padding-bottom: 0.3em;
      }

      .details {
      padding-bottom: 0.3em;
      }
      
      .character-gallery {
      width: 100%;
      height: 60px;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      float: left;
      display: inline-block;
      }

      .character-gallery .selected {
      font-weight: bold;
      }
      
      .character-gallery .character {
      display: inline-block;
      position: relative;
      height: 50px;
      white-space: nowrap;
      font-size: 1.8em;
      padding: 0.3em;
      border: 1px solid grey;
      }

      .backdrop {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      padding: 2em;
      height: 100%;
      display: none;
      background-color: black;
      z-index: 1000;
      opacity: 0.6;
      }

      .modalWrapper {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      height: 100%;
      display: none;
      }
      
      .modal {
      margin: auto 0;
      padding: 3em;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      height: 100%;
      display: none;
      background-color: white;
      z-index: 1001;
      }

      .modal .character {
      font-size: 2em;
      }

      .explanation {
      font-size: 1.5em;
      }
      
    </style>
  </head>

  <body>

    <div class="container" ng-app="builder">
      <div class="row">
	<div class="col-md-12">
	<div ng-controller="BuilderCtrl" ng-init="init()">

	  <!-- Modal templates -->
	  <script type="text/ng-template" id="youtube.html">
            <div class="modal-header">
	      <h3 class="modal-title" id="modal-title">How to use the Yume.js Builder</h3>
            </div>
            <div class="modal-body" id="modal-body">
	      <iframe width="240" height="320" src="https://www.youtube.com/embed/EHqexqBVeSA" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
	      <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            </div>
	  </script>

	  <script type="text/ng-template" id="characters.html">
            <div class="modal-header">
	      <h3 class="modal-title" id="modal-title">Characters</h3>
            </div>
            <div class="modal-body" id="modal-body">
	      Selected: {{ $ctrl.selected }}
	      <br/>
	      <div ng-repeat="character in $ctrl.characters">
		<span ng-click="$ctrl.select(character)">{{ character }}</span>
	      </div>
            </div>
            <div class="modal-footer">
	      <button class="btn btn-primary" type="button" ng-click="$ctrl.ok($ctrl.selected)">OK</button>
            </div>
	  </script>
	  <!-- End modal templates -->


	  <button class="btn btn-large" ng-click="add()">Add Scene</button>
	  <!-- button class="btn btn-large" ng-click="preferences()">Preferences</button -->

	  <a class="btn btn-large" target="player" ng-href="player.html?comic={{encoded}}">Play</a>
	  <span ng-show="scenes.length">Length: {{ encoded.length }}</span>
	  <div ng-hide="scenes.length" class="welcome">
	    <p class="explanation">
	      Welcome to <b>Yume.js</b>. Yume (夢) means dream in Japanese. 
	      <b>Yume.js</b> allows you to make 3D (WebGL) comics from your mobile phone.
	    </p>
	    
	    <p>
	      This <a ng-click="showVideo()">two minute video shows</a> how it all works.
	    </p>
	    
	    <p>
	      To start, just click the <b>"Add Scene"</b> button to add your first
	      scene. You can add as many scenes as you want. Then, add a 
	      <b>character</b>
	      and optionally change the rotation or position. You can also animate
	      the <b>camera</b> on the scene. Then, click play to play the entire comic, or 
	      preview just the scene. Once you have a comic you like, just share the play link.
	    </p>

	    <p>
	      Any questions? Please <a href="mailto:xrdawson@gmail.com?subject=Question about Yume.js">email me</a>. Or, go to the <a href="https://github.com/xrd/yume.js">project page on GitHub</a> and file an <a href="https://github.com/xrd/yume.js/issues">issue or bug.</a>.
	    </p>
	  </div>
	  <div ng-show="encoded.length > 2000">Warning: URLs longer than 2000 characters are problematic</div>
      </br>
      <div class="scene" ng-repeat="scene in scenes">
	<h3>Scene: {{ ( scene.caption && ( '"' + scene.caption + '"' ) ) || ($index+1) }}
	  <span ng-show="scene.expanded" ng-click="scene.expanded = !scene.expanded" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
	  <span ng-hide="scene.expanded" ng-click="scene.expanded = !scene.expanded" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
	</h3>
	
	<div ng-show="scene.expanded">
	  <div class="input-group details">
	    <div class="input-group-addon">Caption</div>
	    <input class="form-control" ng-model="scene.caption" placeholder="Caption for comic">
	  </div>
	  <div class="input-group details">
	    <div class="input-group-addon">Duration</div>
	    <input class="form-control" ng-model="scene.duration" placeholder="Duration, defaults to 5">
	  </div>
	  <div>
	    <h4>Camera</h4>
	    <small>Optional. Camera starts at 0,0,0 and then animates to this final destination</small>
	    <div class="row">
	      <div class="col-xs-4">
		<input class="form-control" ng-model="scene.camera.x" placeholder="Camera destination x">
	      </div>
	      <div class="col-xs-4">
		<input class="form-control" ng-model="scene.camera.y" placeholder="Camera destination y">
	      </div>
	      <div class="col-xs-4">
		<input class="form-control" ng-model="scene.camera.z" placeholder="Camera destination z">
	      </div>
	    </div>
	  </div>

	  <div class="images">
	    <div class="row">
	      <div class="col-xs-12">
		<h4>Images...</h4>
		<button id="quickstart-sign-in">Login</button>
		<div id="quickstart-sign-in-status"></div>
		<script src="https://www.gstatic.com/firebasejs/3.5.3/firebase.js"></script>
		<script src="init.js"></script>
		<script src="login.js"></script>
		<script src="firebase.js"></script>

		<div id="images">Empty</div>
		Images are here...
	      </div>
	    </div>
	  </div>
	  
	  <div class="models">
	    <div class="row">
	      <div class="col-xs-12">
		<h4>3D Model(s): {{ scene.models.length }} in scene</h4>
		<div ng-hide="scene.currentCharacter">
		  <div ng-hide="scene.models.length">
		    Please add a character and then optionally select it to edit attributes
		  </div>
		  <div ng-show="scene.models.length">
		    Select one of the characters below to edit attributes.
		  </div>
		</div>
		<span class="character-gallery">
		  <div class="btn-group" role="group" aria-label="...">
		    <div class="character" ng-click="addCharacter(scene)"> + </div>
		    <div ng-class="{ 'selected' : character == scene.currentCharacter }" ng-click="setCurrentCharacter( scene, character, $index )" ng-repeat="character in scene.models track by $index" class="character"> {{ character.name }} </div>
		  </div>
		</span>
	      </div>
	    </div>
	    
	    <div ng-show="scene.currentCharacter">
	      <div class="btn-group" role="group" aria-label="...">
		<button ng-class='{ "btn-primary" : scene.view == "rotate" }' ng-click="scene.view = 'rotate'" type="button" class="btn btn-default">Rotate</button>
		<button ng-class='{ "btn-primary" : scene.view == "position" }' ng-click="scene.view = 'position'" type="button" class="btn btn-default">Position</button>
		<button  ng-class='{ "btn-primary" : scene.view == "initialRotation" }' ng-click="scene.view = 'initialRotation'" type="button" class="btn btn-default">Initial Rotation</button>
	      </div>
	      
	      <div ng-show="'rotate' == scene.view" class="coordinates">
		<h4>Model Rotation</h4>
		<small>Optional. Rotation of the model during the scene (degrees)</small>
		<div class="row">
		  <div class="col-xs-4">
		    <input class="form-control" ng-model="scene.currentCharacter.rotation.x" placeholder="Rotate x">
		  </div>
		  <div class="col-xs-4">
		    <input class="form-control" ng-model="scene.currentCharacter.rotation.y" placeholder="Rotate y">
		  </div>
		  <div class="col-xs-4">
		    <input class="form-control" ng-model="scene.currentCharacter.rotation.z" placeholder="Rotate z">
		  </div>
		</div>
	      </div>
	      <div ng-show="'initialRotation' == scene.view" class="coordinates">
		<h4>Model Starting Rotation</h4>
		<small>Optional. Initial rotation of the model (degrees)</small>
		<div class="row">
		  <div class="col-xs-4">
		    <input class="form-control" ng-model="scene.currentCharacter.initialRotation.x" placeholder="Rotate x">
		  </div>
		  <div class="col-xs-4">
		    <input class="form-control" ng-model="scene.currentCharacter.initialRotation.y" placeholder="Rotate y">
		  </div>
		  <div class="col-xs-4">
		    <input class="form-control" ng-model="scene.currentCharacter.initialRotation.z" placeholder="Rotate z">
		  </div>
		</div>
	      </div>
	      <div ng-show="'position' == scene.view" class="coordinates">
		<h4>Position in Scene</h4>
		<small>Optional. Position of the model in the scene</small>
		<div class="row">
		  <div class="col-xs-4">
		    <input class="form-control" ng-model="scene.currentCharacter.position.x" placeholder="Position x">
		  </div>
		  <div class="col-xs-4">
		    <input class="form-control" ng-model="scene.currentCharacter.position.y" placeholder="Position y">
		  </div>
		  <div class="col-xs-4">
		    <input class="form-control" ng-model="scene.currentCharacter.position.z" placeholder="Position z">
		  </div>
		</div>
	      </div>
	      
	      <button class="btn" ng-click="removeCharacter( scene )">Remove Character</button>
	      
	    </div>
	  </div>
	  <div class="sceneActions">
	    <button class="btn btn-large" ng-click="remove($index)">Delete Scene</button>
	    <a class="btn btn-large" target="player" ng-href="player.html?comic={{previewSceneLink(scene)}}">Preview Scene</a>
	  </div>
	  </div>
	</div>
      </div>

	<div id="quickstart-account-details"></div>


      <div class="code">
	<h3>Yume code</h3>
	o<pre>
	  &lt;script&gt;
	  var data = {{ scenes | json }};
	  yume = new Yume();
	  yume.load( data );
	  yume.setup( "comic" );
	  &lt;/script&gt;
	  
	  &lt;div id="container"&gt;
	  &lt;div id="caption"&gt; &lt;/div&gt;
	  &lt;div id="comic"&gt; &lt;/div&gt;
	  &lt;div class="progression" id="back"&gt; Back &lt;/div&gt;
	  &lt;div class="progression" id="next"&gt; Next &lt;/div&gt;
	  &lt;/div&gt;
	  
	</pre>
      </div>

      
      
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
      <script src="builder.js"></script>
      
      <script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	
	ga('create', 'UA-84583342-1', 'auto');
	ga('send', 'pageview');
	
      </script>
      
  </body>
</html>
